.wrapper   
   background-color: #303030
   color: white   
   max-width: 1200px
   margin: 20px auto   
.paper
   width: 340px
   height: 300px
   border-top: solid 5px black
   padding: 20px
   background-color: (#444 !important)
   color: (white !important)
.author
   border-bottom: 1px solid #eaeded   
.MuiSvgIcon-root 
   color: grey
   font-size: 50px
    transition: all .5s
   &:hover
      color: white
      font-size: 28px
      transition: all .5s
.avatar_box
   display: flex
   vertical-align: middle
   width: 120px
   height: 120px

.MuiAvatar-root.MuiAvatar-circle.avatar
   align-self: center
   width: 100px
   height: 100px
   margin: 0 auto
   transition: all .3s
   &:hover
      width: 105px
      height: 105px
      transition: all .3s

.link_box
   display: flex
   width: 100px
   height: 50px
   &--item
      display: flex
      align-items: center
      vertical-align: middle
      width: 40px
      height: 50px


